@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --a: #0a1747;
    --b: #0029fa;
    --c: #8d07f6;
    --d: #ffff05;
    --e: #d4dbf5;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}
.progress-container {
    max-width: 100%;
    width: 360px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.progress-container::before {
    content: '';
    background-color: var(--e);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    background-color: var(--b);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease-in;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--a);
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--e);
    transition: 0.4s ease;
}

.circle.active {
    background-color: var(--c);
    border-color: var(--b);
}

.btn {
    padding: 8px 30px;
    background-color: var(--b);
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 24px;
    font-family: inherit;
    margin: 10px;
}

.btn:disabled {
    background-color: var(--e);
    cursor: not-allowed;
    transition: 0.3s ease-in;
}

.btn:focus {
    outline: 0;
}
.btn:active {
    transform: scale(0.98);
}
