@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
}

input {
  width: 70px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  background-color: darkcyan;
  border: none;
  color: #fff;
}

input:focus {
  outline: none;
}
